<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="POST">
            <div class="form-group">
                <label for="username">
                    Username
                    <span class="text-danger">*</span>
                </label>
                <input name="username"
                       id="username"
                       type="text"
                       class="form-control"
                       value="">
            </div>
            <div class="form-group">
                <label for="password">
                    Password
                    <span class="text-danger">*</span>
                </label>
                <input name="password"
                       id="password"
                       type="password"
                       class="form-control"
                       value="">
            </div>
            <button class="btn btn-primary">
                Login
            </button>
        </form>
    </div>
</div>
