<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="/registerApiClient"
              method="POST">

            <div class="card mb-3">
                <div class="card-header">
                    Register OAuth Client
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="clientId">
                            Client ID
                            <span class="text-danger">*</span>
                        </label>
                        <input name="clientId"
                               id="clientId"
                               type="text"
                               class="form-control"
                               placeholder="API">
                    </div>
                    <div class="form-group">
                        <label for="Client Secret">
                            Client Secret
                            <span class="text-danger">*</span>
                        </label>
                        <input name="clientSecret"
                               id="clientSecret"
                               type="text"
                               class="form-control"
                               placeholder="Secret">
                    </div>
                    <div class="form-group">
                        <label for="redirectUris">
                            Redirect URIs
                            <span class="text-danger">*</span>
                        </label>
                        <input name="redirectUris"
                               id="redirectUris"
                               type="text"
                               class="form-control"
                               placeholder="http://<your-redirect-uri>">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">
                Create Client
            </button>
        </form>
    </div>
</div>