<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="/register" method="POST">
            <div class="card mb-3">
                <div class="card-header">
                    Register User
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="firstName">
                            First Name
                            <span class="text-danger">*</span>
                        </label>
                        <input name="firstName"
                               id="firstName"
                               type="text"
                               class="form-control"
                               placeholder="First name"
                               value=""
                               required >
                    </div>
                    <div class="form-group">
                        <label for="lastName">
                            Last Name
                            <span class="text-danger">*</span>
                        </label>
                        <input name="lastName"
                               id="lastName"
                               type="text"
                               class="form-control"
                               placeholder="Last name"
                               value=""
                               required >
                    </div>
                    <div class="form-group">
                        <label for="role">
                            Role
                            <span class="text-danger">*</span>
                        </label>
                        <select name="role" id="role" class="form-control">
                            <option value="user">User</option>
                            <option value="farmer">Farmer</option>
                            <option value="agent">Agent</option>
                            <option value="insurer">Insurer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">
                            Email (this will be your username)
                            <span class="text-danger">*</span>
                        </label>
                        <input name="email"
                               id="email"
                               type="email"
                               class="form-control"
                               placeholder="user@example.com"
                               value=""
                               required >
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Password
                            <span class="text-danger">*</span>
                        </label>
                        <input name="password"
                               id="password"
                               type="password"
                               class="form-control"
                               value=""
                               required >
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">
                            Confirm Password
                            <span class="text-danger">*</span>
                        </label>
                        <input name="confirmPassword"
                               id="confirmPassword"
                               type="password"
                               class="form-control"
                               value=""
                               required >
                    </div>
                    <div class="form-group">
                        <label for="language">
                            Language
                        </label>
                        <select name="language" id="language" class="form-control">
                            <option value="en">English</option>
                            <option value="it">Italian</option>
                            <option value="es">Spanish</option>
                            <option value="fr">French</option>
                            <option value="pt">Portuguese</option>
                            <option value="de">German</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">
                Create User
            </button>
        </form>
    </div>
</div>